.holder{
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	margin-top: 50px;
	align-items: center;
}

.item{
	padding: 20px;
	background-color: lightgray;
	border: 1px solid black;
	text-align: center;
}