.holder {
    display: flex;
    justify-content: space-evenly; /* evenly spacing */
    flex-wrap: wrap;               /* next row */
}

.item{
	padding: 20px;
	background-color: lightgray;
	border: 1px solid black;
	text-align: center;
}